/*
Box Model:
- solo funcionan elementos display block
- div la tiene por defecto
- Comportamiento por defecto:
    + ocupa todo el ancho de la pantalla
    + 
-funciona si
    + los elementos tienen contenido
    + o tiene un tamaño definido
Margin: 
    - Determina el espacio entre los elementos
    - Solo aplica a elementos display block
    - 
*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border-top-color: rgb(255, 0, 0);
    border-top-style: groove;
    border-top-width: 10px;
    border-right-color: rgb(0, 255, 149);
    border-right-style: dashed;
    border-right-width: 10px;
    border-left-color: rgb(255, 0, 187);
    border-left-style: dotted;
    border-left-width: 10px;    
    border-bottom-color: rgb(255, 0, 0);
    border-bottom-style: double;
    border-bottom-width: 10px;
}
.box1{
    margin-top: 20px 40px;
    background-color: rgb(15, 109, 31);
    padding: 50px 45px 3px; 
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
}   
.box2{
    background-color: rgb(28, 56, 157);
    padding: 2px 4px 6px 8px; 
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    padding: 60px;
    align-items: center;
    justify-content: center;
}